In [12]:
from trading_env import DataSource

test = DataSource()

INFO:trading_env:loading data for ADBE...
INFO:trading_env:got data for ADBE...
/Users/chindanai/miniforge3/envs/dlweek2/lib/python3.8/site-packages/sklearn/preprocessing/_data.py:246: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn(
INFO:trading_env:None

            open       close  ...  return_10d_lag5  return_21d_lag5
0      31.493821   30.838949  ...              NaN              NaN
1      31.098899   30.024111  ...              NaN              NaN
2      30.084099   29.859142  ...              NaN              NaN
3      30.109092   29.364239  ...              NaN              NaN
4      29.499211   29.384233  ...              NaN              NaN
...          ...         ...  ...              ...              ...
5028  446.500000  447.940002  ...        -0.001581         0.001226
5029  445.850006  450.160004  ...         0.001035        -0.000892
5030  446.880005  446.480011  ...        -0.000648        -0.001464
5031  442.940002  445.799988  ...        -0.001392        -0.000716
5032  446.350006  444.679993  ...        -0.002456        -0.001819

[5033 rows x 35 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 5033 entries, 0 to 5032
Data columns (total 40 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   returns          5032 non-null   float64
 1   open             5033 non-null   float64
 2   close            5033 non-null   float64
 3   high             5033 non-null   float64
 4   low              5033 non-null   float64
 5   volume           5033 non-null   float64
 6   month            5033 non-null   float64
 7   dollar_vol       5033 non-null   float64
 8   dollar_vol_1m    5033 non-null   float64
 9   dollar_vol_rank  5033 non-null   float64
 10  return_1d        5032 non-null   float64
 11  return_5d        5028 non-null   float64
 12  return_10d       5023 non-null   float64
 13  return_21d       5012 non-null   float64
 14  return_42d       4991 non-null   float64
 15  return_63d       4970 non-null   float64
 16  return_1d_lag1   5031 non-null   float64
 17  return_5d_lag1   5023 non-null   float64
 18  return_10d_lag1  5013 non-null   float64
 19  return_21d_lag1  4991 non-null   float64
 20  return_1d_lag2   5030 non-null   float64
 21  return_5d_lag2   5018 non-null   float64
 22  return_10d_lag2  5003 non-null   float64
 23  return_21d_lag2  4970 non-null   float64
 24  return_1d_lag3   5029 non-null   float64
 25  return_5d_lag3   5013 non-null   float64
 26  return_10d_lag3  4993 non-null   float64
 27  return_21d_lag3  4949 non-null   float64
 28  return_1d_lag4   5028 non-null   float64
 29  return_5d_lag4   5008 non-null   float64
 30  return_10d_lag4  4983 non-null   float64
 31  return_21d_lag4  4928 non-null   float64
 32  return_1d_lag5   5027 non-null   float64
 33  return_5d_lag5   5003 non-null   float64
 34  return_10d_lag5  4973 non-null   float64
 35  return_21d_lag5  4907 non-null   float64
 36  ret_2            5031 non-null   float64
 37  ret_5            5028 non-null   float64
 38  ret_10           5023 non-null   float64
 39  ret_21           5012 non-null   float64
dtypes: float64(40)
memory usage: 1.6 MB

In [7]:
print(test)

<trading_env.DataSource object at 0x16e1dfcd0>